@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Sriracha&family=Tangerine:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Gothic&family=Sriracha&family=Tangerine:wght@400;700&display=swap');

:root{
    --azul:#2939E3;
    --lilaz:#9229E3;
    --lilazescuro:#5629E3;
    --azul:#2A75E5;
    --rosa:#2A75E5;
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    height: auto;
    background-image: linear-gradient(to right ,var(--azul) ,var(--lilaz));
    background-size: cover;
}
header{
    margin: auto;
}


header > h1{
    text-align: center;
    font-family: 'tangerine';
    font-size: 50px;
    color: white;
    text-shadow: 1px 2px 4px black;
    margin: 15px;
}

div#perfil{
    background-image: url(../imagens/perfil.JPG);
    width: 250px;
    height: 250px;
    background-size: cover;
    border-radius: 50%;
    margin: auto;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.432);
    margin-top: 15px;
    
} 
div#sobre{
    width: 75vw;
    margin: auto;
    padding: 10px;
    color: white;
    text-align: justify;
    
}
div#sobre h2{
    margin-top: 30px;
    margin-bottom:15px ;
    font-size: 1.8em;
    text-align: left;
}
div#sobre p{
    font-size: 1.2em;
}

div#link a{
    width: 320px;
    height: 65px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    display: block;
    border-radius: 5px;
    background-color: var(--azul);
    color: white;
    text-decoration: none;
    text-align: center;
    line-height: 65px;
    font-size: 1.2em;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.425);
}
div#link a:hover{
    background-color: var(--lilazescuro);
}

#habilidades{
    width: 96vw;
    margin: 80px 0px;
    text-align: center;
}
#habilidades h2{
    color:  white;
    text-align: center;
    margin-bottom: 50px;
}  
#habilidades p{
    color: white;
    margin: 30px;
    font-size: 1.2em
}
.bloco-hab{
    display: inline-block;
    margin: 15px;
}
.ferramentas{
    width: 120px;
    height: 120px;
    margin: auto;
    display: block;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;    
}
.bloco-hab p{
    text-align: center;
    margin-top: 8px;
    font-size: 1.2em;
    color: white;
}
div#hab1{
    background-image: url(../imagens/adobe.png);
}
div#hab2{
    background-image: url(../imagens/canva.png);
}
div#hab3{
    background-image: url(../imagens/corel.png);
}
#trabalhos{
    margin-top: 50px;
    
}
#trabalhos h2{
    color:  white;
    text-align: center;
    margin-bottom: 50px;

}
iframe.frame{
    border-radius: 5px;
    width: 350px;
    height: 350px;
    margin: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.425);
    transition: width 0.5s, height 0.5s, box-shadow 0.5s;
}
iframe.frame:hover{
    border-radius: 5px;
    width: 450px;
    height: 450px;
    margin: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.425);
}
#img1{
    float: left;
    clear: both;
}
#img2{
    float: right;
    clear: both;
}
#img3{
    float: left;
    clear: both;
}
#img4{
    float: right;
    clear: both;
}